[Unit]
Description=Mouse Controller Service
After=network.target

[Service]
ExecStart=chrt -f 99 /usr/bin/python3 /opt/mouse.py
Restart=always
WorkingDirectory=/opt
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target

